.page-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 30px;
    height: 100vh;
  background: #fbfbfb;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 17px;
}
.main-text{
    font-size: 36px;
    margin-bottom: 17px;
    font-weight: 700;
}
.sub-text{
    font-size: 15px;
    margin-bottom: 17px;
    font-weight: 400;
}   

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 550px;
    flex-direction: column;
}

.btn-container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 445px;
    height: 40px;
    margin: 30px 30px 30px 30px;
    align-self: center;
    background: #ed5901;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
  }
  button:disabled {
    background: #eebea2;
  }
  .footer {
    font-size: 15px;
    line-height: 26px;
    margin-top: 5px;
  }

  .btn-content {
    display: flex;
    width: 100%;
  }
  .btn-container-next {
    width: 70%;
    margin-left: 3px;
  }
  .btn-container-back {
    width: 25%;
    margin-right: 10px;
    background: #f4f6f7;
    border: 1px solid #f4f6f7;
    color: black;
  }
  input[type="file"] {
    display: none;
  }
  .image-container {
    padding: 30px;
    display: flex;
    align-items: center;
  }
  .logo-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    background: #f8f9fa;
    border: 1px dashed rgba(46, 75, 100, 0.1);
    border-radius: 50%;
    margin: 0 15px 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .img-label {
    color: #ed5901;
    cursor: pointer;
  }
  .error-message{
      color: red;
      font-size: 14px;
      margin-left: 30px;
  }