<template>
  <div>
    <Header :active="2" />
    <div class="page-container">
      <div class="header">
        <p class="main-text">Add your company details</p>
        <p class="sub-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>
      <div class="main-content">
        <form>
          <div v-for="(item, index) in items" :key="index">
            <div class="image-container" v-if="!item.image">
              <img class="logo-image" src="@/media/Oval.png" />
              <label class="img-label" :for="`file-upload`"
                >Upload your company Logo</label
              >
              <input
                id="file-upload"
                type="file"
                @change="onFileChange(item, $event)"
              />
            </div>
            <div class="image-container" v-else>
              <img class="logo-image" :src="item.image" />
              <div class="img-label" @click="removeImage(item)">
                Remove image
              </div>
            </div>
          </div>
          <TextField
            :value="company_name"
            @TextInputChange="getCompanyName"
            @OnInput="$v.company_name.$touch()"
            :heading="'Company Name'"
            :name="'company_name'"
            :errorMessage="companyNameErrors"
          />
          <TextField
            :value="company_email"
            @TextInputChange="getEmailId"
            @OnInput="$v.company_email.$touch()"
            :heading="'Email Id'"
            :name="'company_email'"
            :errorMessage="companyEmailErrors"
          />
          <TextField
            :value="job_title"
            @TextInputChange="getJobTitle"
            @OnInput="$v.job_title.$touch()"
            :heading="'Job Title'"
            :name="'job_title'"
            :errorMessage="jobTitleErrors"
          />
          <TextField
            :value="experience"
            @TextInputChange="getExperience"
            @OnInput="$v.experience.$touch()"
            :heading="'Years of Experience'"
            :name="'experience'"
            :errorMessage="experienceErrors"
          />
          <div v-if="imgErrorMessage" class="error-message">
            Please upload your company logo!
          </div>
          <div class="btn-content">
            <button @click="goBack" class="btn-container btn-container-back">
              Back
            </button>
            <button
              :disabled="isSubmitDisabled()"
              @click="submit"
              class="btn-container btn-container-next"
            >
              Next
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../common/Header";
import TextField from "../common/TextField";
import { validationMixin } from "vuelidate";
import { required, email, numeric } from "vuelidate/lib/validators";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "CompanyDetailsPage",
  components: {
    Header,
    TextField,
  },
  mixins: [validationMixin],
  validations: {
    company_name: {
      required,
    },
    company_email: {
      required,
      email,
    },
    job_title: {
      required,
    },
    experience: {
      required,
      numeric
    },
  },
  data() {
    return {
      company_name: "",
      company_email: "",
      job_title: "",
      experience: "",
      imgRaw: "",
      items: [
        {
          image: false,
        },
      ],
      imgError: false,
      imgErrorMessage: false,
    };
  },
  computed: {
    ...mapGetters(["getCompanyDetails","getPersonalDetails"]),
    companyNameErrors() {
      const errors = [];
      if (!this.$v.company_name.$dirty) return errors;
      !this.$v.company_name.required && errors.push("Company Name is required");
      return errors;
    },
    companyEmailErrors() {
      const errors = [];
      if (!this.$v.company_email.$dirty) return errors;
      !this.$v.company_email.email && errors.push("Must be valid e-mail");
      !this.$v.company_email.required &&
        errors.push("Company Email is required");
      return errors;
    },
    jobTitleErrors() {
      const errors = [];
      if (!this.$v.job_title.$dirty) return errors;
      !this.$v.job_title.required && errors.push("Job Title is required");
      return errors;
    },
    experienceErrors() {
      const errors = [];
      if (!this.$v.experience.$dirty) return errors;
      !this.$v.experience.required &&
        errors.push("Experience Years is required");
              !this.$v.experience.numeric &&
        errors.push("Year must be a number");
      return errors;
    },
  },
  methods: {
    ...mapActions(["addCompanyDetails"]),
    isSubmitDisabled() {
      return this.$v.$invalid;
    },
    getCompanyName(value) {
      this.company_name = value;
    },
    getEmailId(value) {
      this.company_email = value;
    },
    getJobTitle(value) {
      this.job_title = value;
    },
    getExperience(value) {
      this.experience = value;
    },
    onFileChange(item, e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.imgRaw = files[0];
      this.createImage(item, files[0]);
    },
    createImage(item, file) {
      // var image = new Image();
      var reader = new FileReader();

      reader.onload = (e) => {
        this.imgError = true;
        this.imgErrorMessage = false;
        item.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage: function (item) {
      this.imgError = false;
      item.image = false;
    },
    submit(e) {
      e.preventDefault();
      if (this.imgError) {
        const payload = {
          company_logo: this.imgRaw,
          company_name: this.company_name,
          company_email: this.company_email,
          job_title: this.job_title,
          experience: this.experience,
        };
        this.addCompanyDetails(payload);
        this.$router.push("/otp-page");
      } else {
        this.imgErrorMessage = true;
      }
    },
    goBack() {
      this.$router.push("/");
    },
  },
  created() {
    if(!this.getPersonalDetails.full_name) this.$router.push("/")
    if (this.getCompanyDetails.company_logo) {
      this.imgError=true
      this.imgRaw = this.getCompanyDetails.company_logo
      this.createImage(this.items[0], this.getCompanyDetails.company_logo);
      this.company_name = this.getCompanyDetails.company_name;
      this.company_email = this.getCompanyDetails.company_email;
      this.job_title = this.getCompanyDetails.job_title;
      this.experience = this.getCompanyDetails.experience;
    }
  },
};
</script>
<style>
@import url("./common.scss");
</style>