<template>
  <div>
    <Header :active="3" />
    <div class="page-container">
      <div class="header">
        <p class="main-text">Enter your OTP</p>
        <p class="sub-text-otp">
          For your security, we need to verify your identity. We sent a 5-digit
          code to <b>name@domain.com</b> Please enter it below.
        </p>
      </div>
      <div class="main-content">
        <div class="otp-content">
          <label class="otp-label">Enter OTP</label>
          <v-otp-input
            ref="otpInput"
            input-classes="otp-input"
            separator=""
            :num-inputs="5"
            :should-auto-focus="true"
            :is-input-num="true"
            @on-change="handleOnChange"
            @on-complete="handleOnComplete"
          />
        </div>
        <div class="btn-content">
          <button @click="goBack" class="btn-container btn-container-back">
            Back
          </button>
          <button
            :disabled="otpSuccess"
            @click="verify"
            class="btn-container btn-container-next"
          >
            Verify
          </button>
        </div>
        <div class="otp-footer">
          <div class="footer-content">
            Didn’t receive the email? Check your spam filter for an email from
            <b>name@domain.com</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Header from "../common/Header";

export default {
  name: "OTPPage",
  components: {
    Header,
  },
  data() {
    return {
      otpValue: "",
      otpSuccess: true,
    };
  },
  computed: {
    ...mapGetters(["getPersonalDetails", "getCompanyDetails", "getOtpDetails"]),
  },
  methods: {
    ...mapActions(["addOtpValue"]),
    handleOnComplete(value) {
      this.otpSuccess = false;
      this.otpValue = value;
    },
    handleOnChange() {
      this.otpSuccess = true;
    },
    verify() {
      if (this.otpValue) this.addOtpValue(this.otpValue);
      localStorage.setItem(
        "Personal Details",
        JSON.stringify(this.getPersonalDetails)
      );
      localStorage.setItem(
        "Company Details",
        JSON.stringify(this.getCompanyDetails)
      );
      localStorage.setItem("OTP", this.getOtpDetails);
      this.$router.push("/success-page");
    },
    goBack() {
      this.$router.push("/company-details");
    },
  },
  created() {
    if (!this.getPersonalDetails.full_name || !this.getCompanyDetails.company_name) this.$router.push("/");
  },
};
</script>

<style>
@import url("./common.scss");
.sub-text-otp {
  width: 80%;
  line-height: 24px;
  text-align: center;
  font-size: 15px;
}
.otp-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.otp-input {
  margin: 0 19px;
  width: 60px;
  height: 60px;
  outline: none;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}
.otp-input:focus {
  border: 1px solid #ed5901;
  box-shadow: 0px 2px 4px rgba(237, 56, 1, 0.06);
}
.otp-label {
  align-self: flex-start;
  margin-left: 19px;
  margin-bottom: 9px;
  color: rgb(10, 9, 9, 0.6);
  font-size: 15px;
}
.otp-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ececec;
}
.footer-content{
  color: rgba(10, 9, 9, 0.6);
}
.footer-content b{
  color:#ed5901
}
</style>