<template>
  <div>
    <Header :active="1" />
    <div class="page-container">
      <div class="header">
        <p class="main-text">Add your personal details</p>
        <p class="sub-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>
      <div class="main-content">
        <form>
          <TextField
            :value = "full_name"
            @TextInputChange="getFullName"
            @OnInput="$v.full_name.$touch()"
            :heading="'FullName'"
            :name="'full-name'"
            :errorMessage="fullNameErrors"
          />
          <RadioButton
            :value = "gender"
            @RadioButtonChange="getGender"
            @OnInput="$v.gender.$touch()"
            :values="genderValues"
            :heading="'Gender'"
            :name="'gender'"
            :error-message="genderErrors"
          />
          <SelectField
            :value = "country"
            @SelectFieldChange="getCountry"
            :heading="'Country'"
            :name="'country'"
            :cList = "countryList"
            :error-message="countryErrors"
          />

          <SelectField
            :value = "state"
            @SelectFieldChange="getState"
            :heading="'State'"
            :name="'state'"
            :cList="stateList"
            :error-message="stateErrors"
          />
          <!-- <TextField
            :value = "phone"
            @TextInputChange="getPhone"
            @OnInput="$v.phone.$touch()"
            :heading="'Phone'"
            :name="'phone'"
            :error-message="phoneErrors"
          /> -->
          <label class="phone-label">Phone</label>
           <vue-tel-input :required="true" :maxLen="10" @input="getPhone" class="phone-number-text" placeholder="" enabledCountryCode v-model="phone"></vue-tel-input>
           <div v-if="phoneErrors.length>0">
             <div class="error-message" v-for="(p) in phoneErrors" :key="p">
             {{p}}
             </div>
             </div>
          <button
            :disabled="isSubmitDisabled()"  
            @click="submit"
            class="btn-container"
          >
            Next
          </button>
        </form>
      </div>
      <div class="footer">Already have an account? <b style="color:orange">Log in</b></div>
    </div>
  </div>
</template>

<script>
import Header from "../common/Header";
import TextField from "../common/TextField";
import RadioButton from "../common/RadioButton";
import SelectField from "../common/SelectField";
import { validationMixin } from "vuelidate";
import { required,numeric } from "vuelidate/lib/validators";
import {mapActions,mapGetters} from "vuex";
import {countryList,StateList} from "../utils/countryList";
export default {
  name: "PersonalDetailsPage",
  data() {
    return {
      full_name: "",
      genderValues: ["Male", "Female", "Other"],
      countryList:countryList,
      stateList:StateList,
      gender: "",
      country: "",
      state: "",
      phone: "",
    };
  },
  components: {
    Header,
    TextField,
    RadioButton,
    SelectField,
  },
  mixins: [validationMixin],
  validations: {
    full_name: {
      required,
    },
    gender: {
      required,
    },
    country: {
      required,
    },
    state: {
      required,
    },
    phone: {
      required,
      numeric
    },
  },
  methods: {
    ...mapActions(["addPersonalDetails"]),
    getFullName: function (value) {
      this.full_name = value;
    },
    getGender: function (value) {
      this.gender = value;
    },
    getCountry: function (value) {
      this.country = value;
    },
    getState: function (value) {
      this.state = value;
    },
    getPhone: function (value) {
      this.$v.phone.$touch()
      this.phone = value;
    },
    isSubmitDisabled() {
      return this.$v.$invalid;
    },
    submit(e) {
      e.preventDefault();
      const payload = {
        full_name: this.full_name,
        gender: this.gender,
        country: this.country,
        state: this.state,
        phone: this.phone,
      };
      this.addPersonalDetails(payload);
      this.$router.push("/company-details");
    },
  },
  computed: {
    ...mapGetters(["getPersonalDetails"]),
    fullNameErrors() {
      const errors = [];
      if (!this.$v.full_name.$dirty) return errors;
      !this.$v.full_name.required && errors.push("Full Name is required");
      return errors;
    },
    genderErrors() {
      const errors = [];
      if (!this.$v.gender.$dirty) return errors;
      !this.$v.gender.required && errors.push("Gender is required");
      return errors;
    },
    countryErrors() {
      const errors = [];
      if (!this.$v.country.$dirty) return errors;
      !this.$v.country.required && errors.push("Country is required");
      return errors;
    },
    stateErrors() {
      const errors = [];
      if (!this.$v.state.$dirty) return errors;
      !this.$v.state.required && errors.push("State is required");
      return errors;
    },
    phoneErrors() {
      const errors = [];
      if (!this.$v.phone.$dirty) return errors;
      !this.$v.phone.required && errors.push("Phone Number is required");
      !this.$v.phone.numeric && errors.push("Invalid Mobile Number");
      return errors;
    },
  },
  created(){
    if(this.getPersonalDetails){
      this.full_name = this.getPersonalDetails.full_name;
      this.country = this.getPersonalDetails.country;
      this.state = this.getPersonalDetails.state;
      this.phone = this.getPersonalDetails.phone;
      this.gender = this.getPersonalDetails.gender;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url("./common.scss");
.phone-number-text {
    height: 40px;
  width: 448px;
  background: #ffffff;
  border: 1px solid #cecece;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 600 !important; 
  font-size: 15px !important;
  line-height: 18px;
  padding-left: 2px;
  outline: none;
  margin-left: 30px;
  margin-top: 20px;
}
.vti__country-code{
    font-weight: 600 !important; 
  font-size: 20px !important;
}
.phone-number-text .vti__input:focus {
  border: 1px solid #ed5901 !important;
  box-shadow: 0px 2px 4px rgba(237, 56, 1, 0.06) !important;
}
.phone-label {
  align-self: flex-start;
  margin-left: 30px;
  color: rgb(10, 9, 9, 0.6);
  font-size: 15px;
}
.error-message{
    color: red;
    font-size: 14px;
    margin: 2px;
    margin-left: 30px;

}
</style>
