<template>
<div class="main">
  <div class="container">
    <div class="image">
      <img src="@/media/success.png" />
    </div>
    <div class="content">
      <h1>OTP is Verified!</h1>
      <p>Please Check Local Storage!</p>
    </div>
  </div></div>
</template>

<script>
export default {
  name: "SuccessPage",
  created(){
      if(!localStorage.getItem("Personal Details") && !localStorage.getItem("CompanyDetails")){
          this.$router.push("/")
      }
  }
};
</script>

<style scoped>
.container {
  width: 70%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  min-width: 35rem;
}
.main{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  background-color: RGBA(46, 75, 100, 0.03);

}
.content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Lato;
  margin: 0 0 1rem 0;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 43px;
}
p {
  font-family: Lato;
  margin: 0 0 1rem 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: red;
  line-height: 43px;
}
</style>