<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {}
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

</style>
