.input-container {
    margin: 20px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  label {
    margin-bottom: 9px;
    color: rgb(10, 9, 9, 0.6);
  }
  .label-active{
      color: #ED5901;
  }