<template>
  <div class="container">
      <div class="nav-container">
    <div class="navigation">
      <div class="navigation-container">
        <div :class="[ active==1 ?  'pagination-active': 'pagination']">1</div>
        <div class="page-title">
          <div :class="{ 'page-title-active': active == '1' }"
            >Personal Details
          </div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="navigation-container">
        <div :class="[ active==2 ?  'pagination-active': 'pagination']">2</div>
        <div class="page-title">
          <div
            :class="{ 'page-title-active': active == '2' }"
          >
            Details
          </div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="navigation-container">
        <div :class="[ active==3 ?  'pagination-active': 'pagination']">3</div>
        <div class="page-title">
          <div
            :class="{ 'page-title-active': active == '3' }"
          >
            Verification</div
          >
        </div>
      </div>
    </div>
      </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  props: ["active"],
};
</script>

<style scoped>
.container {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  background: #2e4b64;
}
.nav-container{
    display:flex;
    width:70%;
    align-items: center;
    justify-content: center;
}
.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.navigation-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
a {
  text-decoration: none !important;
  color: rgb(255, 255, 255, 0.7);
  font-size: 16px;
  cursor: pointer;
}
.page-title-active {
  color: white !important;
  font-size: 16px;
  cursor: pointer;
}
.page-title{
        color: rgb(255,255,255,0.7);
        font-size: 15px;
        cursor: pointer;
    }
.pagination {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgb(40,67,90,1);
  color: white;
  margin-right: 15px;
  font-size: 16px;
  cursor: pointer;
}
.pagination-active {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ed5901;
  color: white;
  margin-right: 15px;
  font-size: 16px;
  cursor: pointer;
}
</style>