<template>
  <div>
    <label class="radio-label" :class="{ 'label-active': isFocus }">{{
      heading
    }}</label>
    <div class="input-container">
      <span v-for="v in values" :key="v">
        <input
          v-model="editValue"
          @change="doActionAtInput(editValue)"
          @click="isFocus = true"
          class="values"
          type="radio"
          :id="v"
          :value="v"
          :name="name"
        />
        <label class="label" :for="v">{{ v }}</label>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "RadioButton",
  props: ["name", "values", "heading", "value"],
  data() {
    return {
      editValue: "",
      isFocus: false,
    };
  },
  methods: {
    handelefocus: function () {
      this.isFocus = !this.isFocus;
    },
    doActionAtInput: function (editValue) {
      this.$emit("OnInput", editValue);
    },
  },
  watch: {
    editValue() {
      this.$emit("RadioButtonChange", this.editValue);
    },
  },
  created() {
    if (this.value) this.editValue = this.value;
  },
};
</script>

<style>
.input-container {
  margin: 20px 30px;
  display: flex;
}
input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  border: none;
  color: #ed5901;
  background: rgba(237, 89, 1, 0.1);
  cursor: pointer;
}
.radio-label {
  margin: 20px 30px;
  margin-bottom: 9px;
  color: rgb(10, 9, 9, 0.6);
}
.label-active {
  color: #ed5901;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89px;
  height: 40px;
  margin: 0 15px 0 0;
  background: #ffffff;
  border: 1px solid #ececec;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}
.values {
  display: flex;
  width: 100%;
  align-items: center;
}
</style>