<template>
  <div>
    <label class="select-label" :class="{ 'label-active': isFocus }">{{
      heading
    }}</label>

    <div v-if="!cList" class="input-container">
      <select
        v-model="editValue"
        :name="name"
        @change="doActionAtInput(editValue)"
        @blur="isFocus = false"
        @focus="isFocus = true"
      >
        <option>TamilNadu</option>
      </select>
    </div>
    <div v-else class="input-container">
      <div v-show="name=='country' && editValue" :class="{ 'flag-container-active': isFocus }" class="flag-container"><country-flag  :country="editValue" size='normal'/></div>

      <select
        :class="{'country-select':name == 'country'}"
        v-model="editValue"
        :name="name"
        @change="doActionAtInput(editValue)"
        @blur="isFocus = false"
        @focus="isFocus = true"
      >
        <option :value="c.code" v-for="c in  cList" :key="c.code">{{ c.name }}</option>
      </select>
    </div>
  </div>
</template>

<script>
import CountryFlag from 'vue-country-flag'
export default {
  name: "SelectField",
  data() {
    return {
      editValue: "",
      isFocus: false,
    };
  },
  components:{
    CountryFlag
  },
  props: ["heading", "name", "cList","value"],
  methods: {
    handelefocus: function () {
      this.isFocus = !this.isFocus;
    },
    doActionAtInput: function (editValue) {
      this.$emit("OnInput", editValue);
    },
  },
  watch: {
    editValue() {
      this.$emit("SelectFieldChange", this.editValue);
    },
  },
  created(){
    if(this.name =="country") this.editValue =  "IN"
    if (this.value) this.editValue = this.value;
  }
};
</script>

<style>
.select-label {
  margin: 20px 30px;
  margin-bottom: 9px;
  color: rgb(10, 9, 9, 0.6);
}
.label-active {
  color: #ed5901;
}
select:focus {
  border: 1px solid #ed5901;
  box-shadow: 0px 2px 4px rgba(237, 56, 1, 0.06);
}
select {
  width: 448px;
  height: 40px;
  padding: 0 0 0 15px;
  background: #ffffff;
  border: 1px solid #cecece;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  outline: none;
}
.country-select{
  width:420px;
  border-left:none;
  padding: 0 0 0 5px;
}
.country-select:focus{
  border-left:none;
}
.flag-container{
    border: 1px solid #cecece;
    border-right: none;
    align-items: center;
    display: flex;
    padding-left: 5px;
}
.flag-container-active{
  border: 1px solid #ed5901;
    border-right: none;
  box-shadow: 0px 2px 4px rgba(237, 56, 1, 0.06);
}

</style>