<template>
  <div class="input-container">
    <label :class="{ 'label-active': isFocus }">{{ heading }}</label>
    <input
      v-model="editValue"
      @input="doActionAtInput(editValue)"
      @blur="isFocus = false"
      @focus="isFocus = true"
      type="text"
      :name="name"
    />
    <div v-if="errorMessage.length>0" class="error-message"><div v-for="(err,index) in errorMessage" :key="index">{{ err.toString() }}</div></div>
  </div>
</template>

<script>
export default {
  name: "TextField",
  data() {
    return {
      isFocus: false,
      editValue: "",
    };
  },
  props: ["heading", "errorMessage", "name", "value"],
  methods: {
    handelefocus: function () {
      this.isFocus = !this.isFocus;
    },
    doActionAtInput: function (editValue) {
      this.$emit("OnInput", editValue);
    },
  },
  watch: {
    editValue() {
      this.$emit("TextInputChange", this.editValue);
    },
  },
  created(){
    if(this.value) this.editValue = this.value
  }
};
</script>

<style scoped>
.input-container {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 9px;
  color: rgb(10, 9, 9, 0.6);
}
input[type="text"] {
  height: 40px;
  width: 448px;
  background: #ffffff;
  border: 1px solid #cecece;
  box-sizing: border-box;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding-left: 10px;
  outline: none;
}
.error-message{
    color: red;
    font-size: 14px;
    margin: 2px;
}
input[type="text"]:focus {
  border: 1px solid #ed5901;
  box-shadow: 0px 2px 4px rgba(237, 56, 1, 0.06);
}
.label-active {
  color: #ed5901;
}
</style>